/*** login.css ***/
:root {
  --white-energieip: #FFFFFF;
  --black-energieip: #000000;
  --green-energieip: #6CC24A;
  --fond-energieip: rgba(0, 0, 0, 0.5);
}
body {
  width: 100vw;
  height: 100vh; 
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}
::placeholder {
  color: var(--black-energieip);
  font-weight: normal;
}
label {
  font-size: 18px;
  font-weight: bold;
  color: var(--green-energieip);
}
input[type=text],
input[type=password] {
  width: 250px;
  border: none;
  outline: none;
  background: none;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 0;
  margin: 6px 0;
  color: var(--black-energieip);
  border-bottom: 2px solid var(--green-energieip);
}
button[type=submit] {
  width: 150px;
  height: 75px;
  border: 2px solid var(--black-energieip);
  border-radius: 25px;
  color: var(--black-energieip);
  background : var(--green-energieip);
  font-size: 25px;
  font-weight: bold;
}
button[type=submit]:hover {
  cursor: pointer;
  color: var(--green-energieip);
  background: var(--black-energieip);
  border: 2px solid var(--green-energieip);
}
.background-login {
  width: 100%;
  height: 100%;
  background-image: url("../images/fond-page-connexion.png");
  background-size: cover;
}
.container-login {
  width: 100%;
  height: 100%;
  background: var(--fond-energieip);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-energieip {
  margin-top: 50px;
}
.title-login {
  font-size: 25px;
  font-weight: bold;
  color: var(--green-energieip);
}
.title-username,
.title-password {
  display: flex;
  align-items: center;
}
.title-checkbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}
.checkbox-login {
  display: flex;
  justify-content: center;
}
.button-login {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}