body {font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  display: block;
}


footer{
  position: absolute;
  bottom: 0em;
  text-align: center;
  /* justify-content: space-between; */
  padding: 0 16px;
  justify-content: center;
  display: flex;
  position: relative;
}

header p {
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-top: -0.5em;
    text-transform: uppercase;
}

header.major > :last-child {
    border-bottom: solid 3px #6CC24A;
    display: inline-block;
    margin: 0 0 2em 0;
    padding: 0 0.75em 0.5em 0;
}

header.main > :last-child {
    margin: 0 0 1em 0;
}

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    border-bottom: solid 5px #6CC24A;   /* line under header */
    padding: 1em 0 1em 0;
    position: relative;
}

    #header > * {
        -moz-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-bottom: 0;
    }

    #header .logo {
        border-bottom: 0;
        color: inherit;
        font-family: "Roboto Slab", serif;
        font-size: 1.125em;
    }

    #header .icons {
        text-align: right;
    }

    @media screen and (max-width: 1680px) {

        #header {
            padding-top: 5em;
            max-height: 10em;
        }

    }

    @media screen and (max-width: 736px) {

        #header {
            padding-top: 6.5em;
            max-height: 10em;
        }

            #header .logo {
                font-size: 1.25em;
                margin: 0;
            }

            #header .icons {
                height: 5em;
                line-height: 5em;
                position: absolute;
                right: -0.5em;
                top: 0;
            }

    }

/* Footer */

#footer .copyright {
    color: #9fa3a6;
    font-size: 0.9em;
}

    #footer .copyright a {
        color: inherit;
    }

  /* Set a style for all buttons */
  button {
    /* padding: 14px 20px; */
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
